@model TourAge.Models.SearchModel
<div class="index-banner">
	<div class="searchPanelContainer">
		<div id="Search" class="search-panel">

	@Html.DevExpress().FormLayout(flSettings =>
{
	//flSettings.UseDefaultPaddings = false;
	//flSettings.AlignItemCaptionsInAllGroups = true;

	flSettings.Name = "flSearchPanelLayout";
	flSettings.Width = Unit.Percentage(100);
	flSettings.ColCount = 2;
	flSettings.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
	flSettings.Items.Add(i =>
	{
		i.Name = "lblSearch";
		i.ShowCaption = DefaultBoolean.False;
		i.NestedExtension().Label(vLabelProp =>
		{
			vLabelProp.Width = Unit.Percentage(100);
			vLabelProp.Text = "<h3>Поиск Туров</h3>";
			vLabelProp.EncodeHtml = false;
		});
		i.ColSpan = 2;
	});

	flSettings.Items.Add(m => m.CityId, vColumnCountryName =>
	{
		vColumnCountryName.Caption = "Страна";
		vColumnCountryName.ShowCaption = DefaultBoolean.True;
		vColumnCountryName.Width = Unit.Percentage(100);
		vColumnCountryName.CssClass = "cmbLocs";
		vColumnCountryName.ColSpan = 2;
		vColumnCountryName.NestedExtension().ComboBox(vComboBox =>
		{
			vComboBox.Width = Unit.Percentage(100);
			vComboBox.Properties.TextField = "CountryName";
			vComboBox.Properties.ValueField = "CountryId";
			vComboBox.Properties.ValueType = typeof(int);
			vComboBox.Properties.DataSource = ""; //SocialCategoryModel.FillAllSocialCategories();
			vComboBox.Properties.ValidationSettings.Display = Display.Dynamic;
			//vComboBox.Properties.ClientSideEvents.ValueChanged = "SocialCategory_Check";
			//vComboBox.Properties.ClientSideEvents.KeyUp = "SocialCategory_Check";
			vComboBox.ShowModelErrors = true;
			vComboBox.PreRender = (s, e) =>
			{
				ASPxComboBox vCBox = s as ASPxComboBox;

				if (vCBox != null)
				{
					if ((string) ViewData["sAction"] == "New")
						vCBox.SelectedIndex = 0;
					else
					{
						if (Convert.ToInt64(vCBox.Value) == 0)
							vCBox.Value = "";
					}
				}
			};
		});
	});

	flSettings.Items.Add(m => m.DateBegin, i =>
	{
		i.Width = Unit.Percentage(50);
		i.NestedExtension().DateEdit(vDateEditProp =>
		{
			//vDateEditProp.Width = Unit.Percentage(50);
			vDateEditProp.Height = Unit.Pixel(30);
			//vDateEditProp.ControlStyle.CssClass = "cmbLocs";
			vDateEditProp.Properties.EditFormat = EditFormat.Custom;
			vDateEditProp.Properties.DisplayFormatString = "dd/MM/yyyy";
			vDateEditProp.Properties.EditFormatString = "dd/MM/yyyy";
			//vDateEditProp.Properties.ClientSideEvents.ValueChanged = "SocialCategory_Check";
			//vDateEditProp.Properties.ClientSideEvents.KeyUp = "SocialCategory_Check";
			vDateEditProp.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Popup;
			vDateEditProp.Properties.SelectInputTextOnClick = true;
			vDateEditProp.Properties.NullText = "Введите дату начала...";
			vDateEditProp.Properties.NullTextDisplayMode = NullTextDisplayMode.UnfocusedAndFocused;
			vDateEditProp.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
			vDateEditProp.Properties.DropDownButton.Image.Url = Url.Content("~/Content/Images/calendar.png");
			vDateEditProp.PreRender = (s, e) =>
			{
				ASPxDateEdit vDateEdit = s as ASPxDateEdit;

				if (vDateEdit != null)
				{
					if (vDateEdit.Date == DateTime.MaxValue.Date)
						vDateEdit.Value = "";
				}
			};
		});
	});

	flSettings.Items.Add(m => m.DateEnd, i =>
	{
		i.Width = Unit.Percentage(50);
		i.NestedExtension().DateEdit(vDateEditProp =>
		{
			vDateEditProp.Height = Unit.Pixel(30);
			vDateEditProp.ControlStyle.CssClass = "cmbLocs";
			vDateEditProp.Properties.EditFormat = EditFormat.Custom;
			vDateEditProp.Properties.DisplayFormatString = "dd/MM/yyyy";
			vDateEditProp.Properties.EditFormatString = "dd/MM/yyyy";
			//vDateEditProp.Properties.ClientSideEvents.ValueChanged = "SocialCategory_Check";
			//vDateEditProp.Properties.ClientSideEvents.KeyUp = "SocialCategory_Check";
			vDateEditProp.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Popup;
			vDateEditProp.Properties.SelectInputTextOnClick = true;
			vDateEditProp.Properties.NullText = "Введите дату окончания...";
			vDateEditProp.Properties.NullTextDisplayMode = NullTextDisplayMode.UnfocusedAndFocused;
			vDateEditProp.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
			vDateEditProp.Properties.DropDownButton.Image.Url = Url.Content("~/Content/Images/calendar.png");
			vDateEditProp.PreRender = (s, e) =>
			{
				ASPxDateEdit vDateEdit = s as ASPxDateEdit;

				if (vDateEdit != null)
				{
					if (vDateEdit.Date == DateTime.MaxValue.Date)
						vDateEdit.Value = "";
				}
			};
		});
	});
	flSettings.Items.Add(i =>
	{
		i.ShowCaption = DefaultBoolean.False;
		i.ColSpan = 2;
		i.NestedExtension().Button(vButtonProp =>
		{
			vButtonProp.Name = "SearchButton";
			vButtonProp.RenderMode = ButtonRenderMode.Button;
			vButtonProp.Width = Unit.Percentage(100);
			vButtonProp.Text = "ПОИСК";
			vButtonProp.ControlStyle.CssClass = "search-button";
			//vButtonProp.PreRender = (s, e) =>
			//{
			//	(s as MVCxButton).HoverStyle.CssClass = "search-button-hover";
			//};
		});

	});
}).GetHtml()

		</div>
		<div class="text">
			<h1>Оформление туров и поездок</h1>

		</div>
	</div>
</div>
<div class="clear"></div>

<div class="index-offers content-сolumn">
	<div class="title">
		Специальные предложения
	</div>
	<div class="imageSlider">
		@Html.DevExpress().ImageSlider(settings =>
   {
	   settings.Name = "SpecialOffersImageSlider";
	   settings.Width = Unit.Percentage(100);
	   settings.Height = Unit.Pixel(505);

	   settings.SettingsImageArea.ImageSizeMode = ImageSizeMode.FillAndCrop;
	   settings.SettingsImageArea.ItemTextVisibility = ElementVisibilityMode.Always;
	   settings.SettingsImageArea.NavigationButtonVisibility = ElementVisibilityMode.OnMouseOver;
	   settings.SettingsAutoGeneratedImages.ImageCacheFolder = Url.Content("~\\Thumb\\");
	   //settings.SettingsImageArea.EnableLoopNavigation = true;
	   //settings.SettingsNavigationBar.Mode = NavigationBarMode.Dots;

	   settings.SettingsSlideShow.AutoPlay = true;
	   settings.SettingsSlideShow.PlayPauseButtonVisibility = ElementVisibilityMode.OnMouseOver;
	   settings.SettingsSlideShow.StopPlayingWhenPaging = true;
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Athens.jpg");
		   //item.NavigateUrl = "1";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Грецию(Афины)</div><div class='city'></div><div class='price'>₽2214</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Barcelona.jpg");
		   //item.NavigateUrl = "2";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Испанию(Барселона)</div><div  class='city'></div><div class='price'>$136</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Berlin.jpg");
		   //item.NavigateUrl = "3";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Германию(Берлин)</div><div class='city'></div><div class='price'>$155</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Cairo.jpg");
		   //item.NavigateUrl = "4";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Египет(Каир)</div><div class='city'></div><div class='price'>$215</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/LA.jpg");
		   //item.NavigateUrl = "5";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Америку(Лос Анджелес)</div><div class='city'></div><div class='price'>$215</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/London.jpg");
		   //item.NavigateUrl = "6";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Англию(Лондон)</div><div class='city'></div><div class='price'>$355</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Moscow.jpg");
		   //item.NavigateUrl = "7";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Россию(Москва)</div><div class='city'></div><div class='price'>$143</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/NY.jpg");
		   //item.NavigateUrl = "8";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Америку(Нью-Йорк)</div><div class='city'></div><div class='price'>$199</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Paris.jpg");
		   //item.NavigateUrl = "9";
		   item.SetTextTemplateContent("<div class='hotel'>Тур по Франции(Париж)</div><div class='city'></div><div class='price'>$438</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Prague.jpg");
		   //item.NavigateUrl = "10";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Чехию(Прага)</div><div class='city'></div><div class='price'>$227</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Rio.jpg");
		   //item.NavigateUrl = "11";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Бразилию(Рио)</div><div class='city'></div><div class='price'>$600</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Sydney.jpg");
		   //item.NavigateUrl = "12";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Австралию(Сидней)</div><div class='city'></div><div class='price'>$354</div>");
	   });
	   settings.Items.Add(item =>
	   {
		   item.ImageUrl = Url.Content("~/Content/Images/Cities/Tokoyo.jpg");
		   //item.NavigateUrl = "13";
		   item.SetTextTemplateContent("<div class='hotel'>Тур в Японию(Токио)</div><div  class='city'></div><div class='price'>$136</div>");
	   });

   }).GetHtml()
	</div>
</div>


<div class="container-fluid">
	<div class="row">

	</div>
</div>
<div class="container">

</div>