@Html.DevExpress().PageControl(pcSettings =>
{
	pcSettings.Name = "pcTools";
	pcSettings.CallbackRouteValues = new
	{
		Controller = "Tools",
		Action = "PCToolsPartial"
	};

	pcSettings.Width = Unit.Percentage(100);
	pcSettings.Styles.Content.CssClass = "padding4";
	pcSettings.Styles.Tab.CssClass = "padding4";
	//pcSettings.EnableClientSideAPI = true;

	pcSettings.TabPages.Add(vTabPage =>
	{
		vTabPage.Name = "tpCountries";
		//vTabPage.TabImage.Url = "~/Content/Images/16x16/Find.png";
		vTabPage.Text = "Страны";
		vTabPage.ToolTip = "Страны";
		vTabPage.SetContent(() =>
		{
			//ViewContext.Writer.Write("<div>");
			//Html.RenderPartial("~/Views/Countries/CountriesGridPartial.cshtml", cCountries.Fill());
			//ViewContext.Writer.Write("</div>");
			Html.RenderAction("CountriesGridPartial", "Countries");
		});
	});

	//pcSettings.TabPages.Add(vTabPage =>
	//{
	//	vTabPage.Name = "tpCountries2";
	//	//vTabPage.TabImage.Url = "~/Content/Images/16x16/Find.png";
	//	vTabPage.Text = "Страны";
	//	vTabPage.ToolTip = "Страны";
	//	vTabPage.SetContent(() =>
	//	{
	//		ViewContext.Writer.Write("<div>");
	//		Html.RenderPartial("~/Views/Countries/CountriesGridPartial.cshtml", cCountries.Fill());
	//		ViewContext.Writer.Write("</div>");
	//	});
	//});

	pcSettings.TabPages.Add(vTabPage =>
	{
		vTabPage.Name = "tpCities";
		//vTabPage.TabImage.Url = "~/Content/Images/16x16/Find.png";
		vTabPage.Text = "Города";
		vTabPage.ToolTip = "Города";
		vTabPage.SetContent(() =>
		{
			//ViewContext.Writer.Write("<div>");
			//Html.RenderPartial("~/Views/Cities/CitiesGridPartial.cshtml", cCities.Fill());
			//ViewContext.Writer.Write("</div>");
			Html.RenderAction("CitiesGridPartial", "Cities");
		});
	});

	pcSettings.TabPages.Add(vTabPage =>
	{
		vTabPage.Name = "tpRoutes";
		//vTabPage.TabImage.Url = "~/Content/Images/16x16/Find.png";
		vTabPage.Text = "Маршруты";
		vTabPage.ToolTip = "Маршруты";
		vTabPage.SetContent(() =>
		{
			Html.RenderAction("RoutsGridPartial", "Routs");
		});
	});
	pcSettings.TabPages.Add(vTabPage =>
	{
		vTabPage.Name = "tpTours";
		//vTabPage.TabImage.Url = "~/Content/Images/16x16/Find.png";
		vTabPage.Text = "Туры";
		vTabPage.ToolTip = "Туры";
		vTabPage.SetContent(() =>
		{
			Html.RenderAction("ToursGridPartial", "Tours");
		});
	});

	pcSettings.TabPages.Add(vTabPage =>
	{
		vTabPage.Name = "tpClients";
		//vTabPage.TabImage.Url = "~/Content/Images/16x16/Find.png";
		vTabPage.Text = "Клиенты";
		vTabPage.ToolTip = "Клиенты";
		vTabPage.SetContent(() =>
		{
			Html.RenderAction("ClientsGridPartial", "Clients");
		});
	});

	pcSettings.TabPages.Add(vTabPage =>
	{
		vTabPage.Name = "tpOrders";
		//vTabPage.TabImage.Url = "~/Content/Images/16x16/Find.png";
		vTabPage.Text = "Заказы";
		vTabPage.ToolTip = "Заказы";
		vTabPage.SetContent(() =>
		{
			Html.RenderAction("OrdersGridPartial", "Orders");
		});
	});

	pcSettings.TabPages.Add(vTabPage =>
	{
		vTabPage.Name = "tpReports";
		//vTabPage.TabImage.Url = "~/Content/Images/16x16/Find.png";
		vTabPage.Text = "Отчёты";
		vTabPage.ToolTip = "Отчёты";
		vTabPage.SetContent(() =>
		{
			Html.RenderAction("ReportsPartial", "Reports");
		});
	});

}).GetHtml()
