@using DevExpress.Web.Mvc.UI
@using TourAge.Models
@{
	GridViewExtension vGrid = Html.DevExpress().GridView<cOrder>(vGridView =>
	{
		vGridView.Name = "gvOrders";
		vGridView.CallbackRouteValues = new {Controller = "Orders", Action = "OrdersGridPartial" };

		vGridView.SettingsEditing.AddNewRowRouteValues = new {Controller = "Orders", Action = "OrdersAddNewPartial" };

		vGridView.SettingsEditing.UpdateRowRouteValues = new {Controller = "Orders", Action = "OrdersUpdatePartial" };

		vGridView.SettingsEditing.DeleteRowRouteValues = new {Controller = "Orders", Action = "OrdersDeletePartial" };

		//vGridView.ClientSideEvents.BeginCallback = "OnBeginCallback";
		vGridView.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
		//vGridView.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
		vGridView.KeyFieldName = "Id"; //;CategoryDate;CategoryId

		vGridView.Settings.ShowFooter = false;
		vGridView.Settings.ShowColumnHeaders = true;
		vGridView.Styles.AlternatingRow.Enabled = DefaultBoolean.True;

		vGridView.SettingsBehavior.AllowFocusedRow = true;
		vGridView.SettingsBehavior.ConfirmDelete = true;
		vGridView.SettingsBehavior.EnableRowHotTrack = true;

		vGridView.SettingsPager.PageSize = 5;
		vGridView.Width = Unit.Percentage(100);

		vGridView.CustomJSProperties = (sender, e) =>
		{
			if (ViewData["EditError"] != null)
				e.Properties["cpEditError"] = ViewData["EditError"];
		};
		//vGridView.ClientSideEvents.ToolbarItemClick = "Categories_ToolbarItemClick";
		vGridView.Toolbars.Add(vToolBar =>
		{
			vToolBar.Enabled = true;
			vToolBar.Position = GridToolbarPosition.Top;
			vToolBar.ItemAlign = GridToolbarItemAlign.Right;
			vToolBar.SettingsAdaptivity.Enabled = true;
			vToolBar.SettingsAdaptivity.EnableCollapseRootItemsToIcons = true;

			vToolBar.Items.Add(GridViewToolbarCommand.New);

			vToolBar.Items.Add(GridViewToolbarCommand.Edit);

			vToolBar.Items.Add(GridViewToolbarCommand.Delete);

			vToolBar.Items.Add(i =>
			{
				i.SetTemplateContent(c => {
					ViewContext.Writer.Write(Html.AntiForgeryToken().ToHtmlString());
				});
			});
		});

		vGridView.Columns.Add("Id").Visible = false;
		vGridView.Columns.Add(vColumnNumber =>
		{
			vColumnNumber.FieldName = "№";
			vColumnNumber.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
			vColumnNumber.CellStyle.HorizontalAlign = HorizontalAlign.Center;
			vColumnNumber.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
			vColumnNumber.Width = Unit.Pixel(20);
		});

		vGridView.Columns.Add(vColumnName =>
		{
			vColumnName.FieldName = "Name";
			vColumnName.Caption = "Наименование";
			vColumnName.Width = Unit.Pixel(125);
			vColumnName.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
			vColumnName.CellStyle.HorizontalAlign = HorizontalAlign.Center;
		});

		vGridView.Columns.Add(vColumnName =>
		{
			vColumnName.FieldName = "OrderDate";
			vColumnName.Caption = "Дата";
			vColumnName.Width = Unit.Pixel(65);
			vColumnName.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
			vColumnName.CellStyle.HorizontalAlign = HorizontalAlign.Center;
		});

		vGridView.Columns.Add(vColumnDocSum =>
		{
			vColumnDocSum.FieldName = "ClientsCount";
			vColumnDocSum.Caption = "Кол-во клиентов";
			vColumnDocSum.EditorProperties().SpinEdit(p =>
			{
				p.DisplayFormatString = "{0:#0.##;;\"\"}";
			});
			vColumnDocSum.Width = Unit.Pixel(60);
			vColumnDocSum.HeaderStyle.HorizontalAlign = HorizontalAlign.Right;
		});

		vGridView.Columns.Add(vColumnName =>
		{
			vColumnName.FieldName = "Client.Name";
			vColumnName.Caption = "Клиент";
			vColumnName.Width = Unit.Pixel(125);
			vColumnName.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
			vColumnName.CellStyle.HorizontalAlign = HorizontalAlign.Center;
		});

		vGridView.Columns.Add(vColumnName =>
		{
			vColumnName.FieldName = "Tour.Name";
			vColumnName.Caption = "Тур";
			vColumnName.Width = Unit.Pixel(125);
			vColumnName.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
			vColumnName.CellStyle.HorizontalAlign = HorizontalAlign.Center;
		});

		vGridView.SetEditFormTemplateContent(vTemplate =>
		{
			Html.DevExpress().FormLayout(flSettings =>
			{
				flSettings.Name = "FormLayoutOrders";
				flSettings.Width = Unit.Percentage(100);
				flSettings.ColCount = 2;

				flSettings.Items.Add(vColumnName =>
				{
					vColumnName.FieldName = "Name";
					vColumnName.Caption = "Наименование заказа";
					vColumnName.NestedExtension().TextBox(p =>
					{
						p.Height = Unit.Pixel(20);
						p.Width = Unit.Percentage(100);
					});
					vColumnName.Width = Unit.Percentage(50);
				});

				flSettings.Items.Add(i =>
				{
					i.FieldName = "OrderDate";
					i.Caption = "Дата";
					i.Width = Unit.Percentage(50);
					i.NestedExtension().DateEdit(vDateEditProp =>
					{
						vDateEditProp.Width = Unit.Percentage(100);
						vDateEditProp.Height = Unit.Pixel(30);
						//vDateEditProp.ControlStyle.CssClass = "cmbLocs";
						vDateEditProp.Properties.EditFormat = EditFormat.Custom;
						vDateEditProp.Properties.DisplayFormatString = "dd/MM/yyyy";
						vDateEditProp.Properties.EditFormatString = "dd/MM/yyyy";
						//vDateEditProp.Properties.ClientSideEvents.ValueChanged = "SocialCategory_Check";
						//vDateEditProp.Properties.ClientSideEvents.KeyUp = "SocialCategory_Check";
						vDateEditProp.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Popup;
						vDateEditProp.Properties.SelectInputTextOnClick = true;
						vDateEditProp.Properties.NullText = "Введите дату начала...";
						vDateEditProp.Properties.NullTextDisplayMode = NullTextDisplayMode.UnfocusedAndFocused;
						vDateEditProp.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
						vDateEditProp.Properties.DropDownButton.Image.Url = Url.Content("~/Content/Images/calendar.png");
						vDateEditProp.PreRender = (s, e) =>
						{
							ASPxDateEdit vDateEdit = s as ASPxDateEdit;

							if (vDateEdit != null)
							{
								if (vDateEdit.Date == DateTime.MaxValue.Date)
									vDateEdit.Value = "";
							}
						};
					});
				});

				flSettings.Items.Add(vColumnName =>
				{
					vColumnName.FieldName = "ClientsCount";
					vColumnName.Caption = "Количество клиентов";
					vColumnName.NestedExtension().SpinEdit(p =>
					{
						p.Height = Unit.Pixel(20);
						p.Width = Unit.Percentage(100);
					});
					vColumnName.Width = Unit.Percentage(50);
				});

				flSettings.Items.Add(vColumnName =>
				{
					vColumnName.FieldName = "Client.Id";
					vColumnName.Caption = "Клиент";
					vColumnName.NestedExtension().ComboBox(vComboBox =>
					{
						vComboBox.Width = Unit.Percentage(100);
						vComboBox.Properties.TextField = "Name";
						vComboBox.Properties.ValueField = "Id";
						vComboBox.Properties.ValueType = typeof(int);
						vComboBox.Properties.DataSource = cClients.Fill();
						vComboBox.Properties.ValidationSettings.Display = Display.Dynamic;
						vComboBox.ShowModelErrors = true;
						vComboBox.PreRender = (s, e) =>
						{
							if (vTemplate.Grid.IsNewRowEditing)
							{
								ASPxComboBox vCBox = s as ASPxComboBox;

								if (vCBox != null)
								{
									vCBox.SelectedIndex = 0;
								}
							}
						};
					});
					vColumnName.Width = Unit.Percentage(50);
				});

				flSettings.Items.Add(vColumnName =>
				{
					vColumnName.FieldName = "Tour.Id";
					vColumnName.Caption = "Тур";
					vColumnName.NestedExtension().ComboBox(vComboBox =>
					{
						vComboBox.Width = Unit.Percentage(100);
						vComboBox.Properties.TextField = "Name";
						vComboBox.Properties.ValueField = "Id";
						vComboBox.Properties.ValueType = typeof(int);
						vComboBox.Properties.DataSource = cTours.Fill();
						vComboBox.Properties.ValidationSettings.Display = Display.Dynamic;
						vComboBox.ShowModelErrors = true;
						vComboBox.PreRender = (s, e) =>
						{
							if (vTemplate.Grid.IsNewRowEditing)
							{
								ASPxComboBox vCBox = s as ASPxComboBox;

								if (vCBox != null)
								{
									vCBox.SelectedIndex = 0;
								}
							}
						};
					});
					vColumnName.Width = Unit.Percentage(50);
				});

				flSettings.Items.AddEmptyItem();

				flSettings.Items.Add(i =>
				{
					i.ShowCaption = DefaultBoolean.False;
				}).SetNestedContent(() =>
				{
					ViewContext.Writer.Write("<div style='float:right'>");
					Html.DevExpress().HyperLink(hlSettings =>
					{
						hlSettings.Name = "lnkUpdate";
						hlSettings.Properties.Text = "Сохранить";
						hlSettings.Properties.ClientSideEvents.Click = "function(s, e){ gvOrders.UpdateEdit(); }";
					}).Render();

					Html.DevExpress().HyperLink(hlSettings =>
					{
						hlSettings.Name = "lnkCancel";
						hlSettings.Properties.Text = "Отмена";
						hlSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
						hlSettings.Properties.ClientSideEvents.Click = "function(s, e){ gvOrders.CancelEdit(); }";
					}).Render();
					ViewContext.Writer.Write("</div>");
				});
			}).Bind(ViewData["cOrder"] ?? (vTemplate.Grid.IsNewRowEditing ? new cOrder() : vTemplate.Grid.GetRow(vTemplate.Grid.EditingRowVisibleIndex))).Render();
		});

		string sColumnFieldName;
		GridViewDataColumn vColumn;

		vGridView.CustomColumnDisplayText = (s, e) =>
		{
			vColumn = e.Column;

			if (vColumn == null)
				return;

			sColumnFieldName = vColumn.FieldName;

			switch (sColumnFieldName)
			{
				case "№":
					e.DisplayText = (e.VisibleIndex + 1).ToString();
					break;
			}
		};
	});

	if (ViewData["EditError"] != null)
	{
		vGrid.SetEditErrorText((string) ViewData["EditError"]);
	}
	vGrid.Bind(Model).GetHtml();
}
