@using TourAge.Models
@model TourAge.Models.cTour
@Html.DevExpress().GridLookup(settings =>
{
	settings.Width = Unit.Percentage(100);
	settings.Properties.Caption = "Выберите маршруты:";
	settings.Name = "RoutsIDs";
	settings.GridViewProperties.CallbackRouteValues = new {Controller = "Tours", Action = "RoutSelectPartial", CurrentID = Model.Id };

	settings.KeyFieldName = "Id";
	settings.CommandColumn.Visible = true;
	settings.CommandColumn.ShowSelectCheckbox = true;

	settings.Columns.Add("Name");
	settings.Columns.Add("CityStart.Name");
	settings.Columns.Add("CityEnd.Name");
	settings.Columns.Add("Id").Visible = false;

	settings.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Multiple;
	settings.Properties.TextFormatString = "{0}";
	settings.Properties.MultiTextSeparator = ",";
	//settings.Properties.Width = 250;

	settings.GridViewProperties.Settings.ShowFilterRow = true;
	settings.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;
	settings.GridViewProperties.SettingsPager.EnableAdaptivity = true;
	settings.GridViewProperties.SettingsPager.PageSize = 7;
	//settings.GridViewProperties.SetStatusBarTemplateContent(c =>
	//{
	//	ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
	//	Html.DevExpress().Button(btnSettings =>
	//	{
	//		btnSettings.Name = "btnClose";
	//		btnSettings.UseSubmitBehavior = false;
	//		btnSettings.Text = "Close";
	//		btnSettings.ClientSideEvents.Click = "CloseGridLookup";
	//	}).Render();
	//	ViewContext.Writer.Write("</div>");
	//});

	//settings.DataBound = (sender, e) =>
	//{
	//	var gridLookup = (MVCxGridLookup) sender;
	//	gridLookup.GridView.Width = 250;
	//};
}).BindList(cRouts.Fill()).Bind(Model.RoutsIDs).GetHtml()